body {

}

/* header part*/
#header {

background:url("http://img1.kaixin001.com.cn/i/n_bg_r.gif") repeat-x scroll center top #D01E3B;
margin:0 auto;

}

.navigation {
	float: right;
}

.navigation li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

.navigation li a {
	padding: 0 5px;
	font-weight: bold;
}

.navigation li a:visited {
	color: #09c;
}

.navigation li a:hover {
	text-decoration: underline;
}


