body {

}

/* header part*/
#header {

background:url("http://img1.kaixin001.com.cn/i/n_bg_r.gif") repeat-x scroll center top #D01E3B;
margin:0 auto;

}

.hd {
width:100%;
}

.h3 {
clear:right;
color:#CCCCCC;
float:right;
margin:1px 12px;
}

.wl2 {
width:175px;
}

.l {
float:left;
}

.r {
clear:right;
float:right;
}
.c {
clear:both;
}
.r_float {
float:right;
}
.tal {
text-align:left;
}
.tar {
text-align:right;
}
.tac {
text-align:center;
}
.tar_right {
padding:50px 0 10px;
text-align:right;
}

.rt_nav .rt_menu {
background:none repeat scroll 0 0 transparent;
float:left;
height:29px;
text-align:center;
width:40px;
}
.rt_nav .rt_menu_bar {
background:url("/images/home_sprite_06.gif") no-repeat scroll 0 -855px transparent;
height:29px;
width:1px;
}
.rt_nav .rt_menu a.ce2 {
color:#EEEEEE;
display:block;
font-family:Arial;
text-align:center;
width:40px;
}
.rt_nav .rt_menu2 {
background:none repeat scroll 0 0 #E37889;
float:left;
height:29px;
text-align:center;
width:40px;
}
.rt_nav .rt_menu2 a.ce2 {
color:#FFFFFF;
display:block;
font-family:Arial;
text-align:center;
text-decoration:none;
width:40px;
}
.ce, a.ce {
color:#EEEEEE;
font-family:Arial;
}
a.ce:hover {
color:#FFFFFF;
font-family:Arial;
}

/*header end*/

input {
	font-size:12px;
padding:3px;
height:18px;
width:150px;
}

#content{
	background:none repeat scroll 0 0 #FFFFFF;
    
    margin:0 auto;
    overflow:hidden;
}

.m2 {
background:none repeat scroll 0 0 #FFFFFF;
border-bottom:1px solid #EEEEEE;
/*border-left:1px solid #DDDDDD;
border-top:1px solid #DDDDDD;*/
border-right:1px solid #DDDDDD;
clear:right;
float:right;
margin-top:0px;
min-height:320px;
width:700px;
}

.wr2 {
width:825px;
}
/* Links */

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	
}

/* Navigation */

.navigation {
	float: right;
}

.navigation {
	background-color: red;
	padding: 0 0.7em;
	white-space: nowrap;
}

ul.navigation {
	margin: 0;
}

.navigation li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

.navigation li a {
	padding: 0 5px;
	font-weight: bold;
}

.navigation li a:visited {
	color: #09c;
}

.navigation li a:hover {
	text-decoration: underline;
}

a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}

/* Round corners */

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#footer {
	text-align: center;
	margin-top: 100px;	
	margin-left: auto;
	margin-right: auto;
	clear:both;
}

#footer .navigation {
	float: none;
}

.m1 {
    float:left;
}

.m1t {
background : none repeat scroll 0 0 #D01E3B;
border-bottom:5px solid #E88F9D;
height:10px;
overflow:hidden;
}
/* User show page */


#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5 5 5 15;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}


table.microposts tr td.micropost span.timestamp {
	
}














