<% content_for :left do %>
	<div class="filter_box">
	<div class="round_title round_title_top min-high-1"><span>个人活动管理</span></div>
	<div class="filter_items">
		<ul class="sidebar-menu">
			<li>
				<%= link_to "发起新活动", url_for({:controller=>'events', :action=>'new'}), :class => 'red' %>
			</li>
			<li>
				<a href="" class="">我发起的活动</a>
			</li>
			<li>
				<a href="" class="">我参与的活动</a>
			</li>
			<li>
				<a href="" class="">我关注的活动</a>
			</li>			
		</ul>
	</div>
	<div class="round_title min-high-1"><span>个人信息管理</span></div>
	<div class="filter_items">
		<ul class="sidebar-menu">
			<li>
				<a href="" class="">个人资料</a>
			</li>
			<li>
				<a href="" class="">我的邮箱</a>
			</li>
			<li>
				<a href="" class="">我关注的活动</a>
			</li>			
		</ul>
	</div>
</div>
<% end %>

<% content_for :right do %>
  <div class="fcenter">
   

  </div>
<% end %>