<% 
menu = [
		["", "全部"],
		["today", "今天"],
		["tomorrow", "明天"],
		["this_week", "本周"],
		["this_weekend", "本周末"],
		["next_week", "下周"],
		["this_month", "本月"],
		["next_month", "下月"],
		["this_year", "今年"]
		] 
%>
<div class="filter_box">
	<div class="filter_title min-high-1"><span>活动时间</span></div>
	<div class="filter_items">
		<ul class="sidebar-menu">
			<% menu.each do |k| %>			
			<li>
				<% count = get_time_range_count(k[0]) 
				if count  > 0 %>
					<%= link_to h( k[1] + "(" + count.to_s() + ")" ), filter_Uri("start_time", k[0]), :class=>GetTimeRangeCssClass(k[0]) %>
				<% else %>
					<a class="gray"><%= k[1] %>(0)</a>
				<% end %>
			</li>
			<% end %>
		</ul>
	</div>
</div>