<% content_for :left do %>	
	<%= render 'directory/categories' %>
	<div class="separator-5"></div>
	<%= render 'directory/date' %>
<% end %>

<% content_for :right do %>
	<%= render 'directory/events' %>
<% end %>