<div class="search_panel">
    
    <%= render 'pages/search_form' %>
<%
 tags = []
 tags << ['互联网大会']
 tags << ['投资人']
 tags << ['Intel开发者']
 tags << ['陈楚生演唱会']
 tags << ['申雪首体婚礼演出']
 tags << ['奥迪AX首发']
 tags << ['创新工场发布会']
 tags << ['百度计算日']
 tags << ['2010秋季房展会']
 tags << ['草根站长大会']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
 tags << ['']
%>
    <div class="hot_events_tag">
        <% for tag in tags %>
		  <% unless tag.blank? %>
		  	<%= link_to tag, search_url(tag) %>
		  <% end %>
		<% end %>
        <span class="more"><%= link_to '更多...', :controller => 'directory', :action => 'index' %></span>
    </div>
</div>
