<% content_for :left do %>
	<%= render 'directory/categories' %>
	<div class="separator-5"></div>
	<%= render 'pages/search_panel' %>		
	
<% end %>

<% content_for :right do %>	
    <!--line 1 begin-->	
	<div class="prepend-top span-7">
		<div class="span-7">
			<span style="font: bold 20px '黑体'; color: rgb(208, 30, 59);font-size:22px;">优客网</span>
		</div>
		<div class="span-7" style="font-size:13px;margin: 5px 0pt 0px 0px ! important;">
		你是不是因为错过了一次期盼已久的活动而感到懊恼不已？
		那么，让优客网来帮你吧，它不能替你参加活动，但它能让你不再错过她。
		</div>		
	</div>	
	<div class="span-10 prepend-top last"  style="padding-left:20px;" >
		<img src="http://img1.kaixin001.com.cn/i/sy_tp1_1.gif" />
	</div>
	<!--line 1 end-->
	
	<div class="separator-5"></div>
	
	<!--line 2 begin-->
	
	<div class="span-18 last clear">
		<div class="perform gray_box">			
			<ul>
				<% for i in 1..6 do %>
				<% if i % 2 == 1 %>
				<li class="ps1">
				<% else %>
				<li class="ps2">
				<% end %>	
				  <h2><span class="t">演唱会</span><a class="more" href="/bj/perform-1"><%= image_tag('/images/more.jpg', :alt => 'more') %></a> </h2>
				  <div class="info">
				  	<p class="img"><a href="/ticket_20246.html"><img title="2010迈克学摇滚中国巡演北京演唱会" alt="2010迈克学摇滚中国巡演北京演唱会" src="http://pimg.damai.cn/perform/project/202/20246_n1.jpg"></a></p>
					<h3><a title="2010迈克学摇滚中国巡演北京演唱会" href="/ticket_20246.html">2010迈克学摇滚中国巡演北京演唱会</a></h3>
					<p class="d">迈克学摇滚他们在九十年代风靡欧美，带来抚动我们心弦的音乐。</p>
					<p><strong class="fl">时间：2010.12.03 </strong><strong class="fr">价格：280元起</strong>
					</p>
				  </div>				  
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<!--line 2 end-->
<% end %>	



