<% content_for :left do %>

	<div id="_index_login_panel" class="fcenter login_panel">
		<%= render 'pages/login_form' %>
		<div class="regnow">			
			<%= link_to "立即注册", signup_url, :class=>'login_button reg_button fcenter' %>
		</div>
	</div>
	
	<div class="span-6">
		<%= render 'pages/search_panel' %>		
	</div>
<% end %>



<% content_for :right do %>	
    <!--line 1 begin-->	
	<div class="prepend-top span-7">
		<div class="span-7">
			<span style="font: bold 20px '黑体'; color: rgb(208, 30, 59);font-size:22px;">优客网</span>
		</div>
		<div class="span-7" style="font-size:13px;margin: 5px 0pt 0px 0px ! important;">
		你是不是因为错过了一次期盼已久的活动而感到懊恼不已？
		那么，让优客网来帮你吧，它不能替你参加活动，但它能让你不再错过她。
		</div>		
	</div>	
	<div class="span-10 prepend-top last"  style="padding-left:20px;" >
		<img src="http://img1.kaixin001.com.cn/i/sy_tp1_1.gif" />
	</div>
	<!--line 1 end-->
	
	<hr/>
	
	<!--line 2 begin-->
	
	<div class="span-18 last clear">
		<img src="http://midtsiden.no/files/imagecache/Toppsak/amfi2010_9357.jpg" />
	</div>
	<!--line 2 end-->
<% end %>	



