
<div class="full_login fcenter">
	<% if !flash.blank? %>	
	<div id="prompt1" class="login_prompt">
		<% flash.each do |key, value| %>
			<p><%= value %></p>
		<% end %>
	</div>
	<% end %>
	
	<div id="full_login_panel" class="login_panel fcenter">
		<h2>用户登录</h2>
        <%= render 'pages/login_form' %>		
	</div>
</div>


