<div id="footer"  class="span-24 last">
	<ul class="navigation">
		<li><%= link_to "关于我们", about_path %></li>
		<li> | </li>
		<li><%= link_to "联系我们", contact_path %></li>
		<li> | </li>
		<li><a href="http://news.railstutorial.org/">News</a></li>
		<li> | </li>
		<li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
	</ul>
</div>
