<div class="hd">
	<div style="width: 230px; padding: 3px;" class="l tac wl2">
		<div style="padding-left: 55px;"><a title="开心网" class="cf" href="/">
			<img alt="开心网" src="http://img1.kaixin001.com.cn/i2/kaixinlogo.gif"></a>
		</div>
	</div>
	<div class="h3 rt_nav">
		<% if signed_in? %>
			<div class="rt_menu l">
				<a id="head_reg" class="ce" href="http://reg.kaixin001.com">个人中心</a>
			</div>
			<div class="l rt_menu_bar"></div>
			<div class="rt_menu l">
				<a class="ce" href="http://login.kaixin001.com">退出</a>
			</div>
			<div class="l rt_menu_bar"></div>
		<% else %>
			<div class="rt_menu l">
				<a id="head_reg" class="ce" href="http://reg.kaixin001.com">注册</a>
			</div>
			<div class="l rt_menu_bar"></div>
			<div class="rt_menu l">
				<a class="ce" href="http://login.kaixin001.com">登录</a>
			</div>
			<div class="l rt_menu_bar"></div>
		<% end %>
		<div class="rt_menu l">
			<a class="ce" href="/s/help.html">帮助</a>
		</div>
	</div>
	<div class="c"></div>
</div>

